<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    X-Robots-Tag: all
    <link rel="stylesheet" href="/main.css">
    <title>{{ title }}</title>
    <meta name="description" content="{{ desc }}">
</head>
<body>
    
    {% include 'header.njk' %}
    <main class="container">
    {{ content | safe }}
    </main>
    {% include 'footer.njk' %}
    <script src="/main.js"></script>
</body>
</html>