<header class="">
    <nav class="flex">
        <img class="antenna" src="/img/logo/antenna.png">
        <div class="logo">N0PR</div>
        <ul class="navList">
            <li class="navItem">
                <a class="navLink" {% if home %}aria-current="page" {%endif%} href="/index.html">Home</a>
            </li>
            <li class="navItem">
                <a class="navLink" {% if get %}aria-current="page" {%endif%} href="/licence">Get Licenced</a>
            </li>
            <li class="navItem">
                <a class="navLink" {% if about %}aria-current="page" {%endif%} href="/about">About Us</a>
            </li>
            <li class="navItem">
                <a class="navLink" {% if event %}aria-current="page" {%endif%} href="/events">Special Events</a>
            </li>
            <li class="navItem">
                <a class="navLink" {% if meetings %}aria-current="page" {%endif%} href="/meetings">Club Meetings</a>
            </li>
        </ul>
    </nav>
    <div class="head">
        <div class="headFlex">
            <div class="">
                <img src="/img/logo/ARRL_logo.png" class="arrl">
            </div>
            <div class="" >
      <h1 class="">N0PR</h1>
      <p class="">Welcome to the Macon County Amateur Radio Club & Macon Area Repeater Council</p>
            </div>
            <div class="">
                <img src="/img/logo/ARES_Color_Logo.png" class="ares">
            </div>
    </div>
</header>