---
title: N0PR
layout: 'base.njk'
desc: "Macon Missouri Amateur Radio Club"
home: "true"
---
<section class="grid">
    <aside class="status">
        <h2>Repeater Status</h2>
        <p>146.805 MHz (-) 156.7 PL tone</p>
        <div class="air">on the air</div>
        <p>Repeater net held every Wednesday at 8:30 pm.  Starting on Febuary 9th the time will be 7:30PM</p>
    </aside>
    <article class="pressing">
        <h2>Important notes</h2>
        <p>Nothing pressing at the moment</p>
    </article>
    <aside class="meeting">
        <h2>Club Meetings</h2>
        <p>Held the last Thursday of the month at 7:00 PM</p>
        <p>Fist Christian Church 806 E Briggs Dr in Macon</p>
        <hr>
        <p></p>
    </aside>
</section>
<div class="solar"> <a href="https://www.hamqsl.com/solar.html" title="Click to add Solar-Terrestrial Data to your website!"><img src="https://www.hamqsl.com/solar101sc.php?bgcolor=black" class="solar"></a></div>
