---
title: N0PR
layout: 'base.njk'
desc: "Macon Missouri Amateur Radio Club"
home: "true"
---
<section class="grid">
    <aside class="status">
        <h2>Repeater Status</h2>
        <p>146.805 MHz (-) 156.7 PL tone</p>
        <div class="air">on the air</div>
        <p>Repeater net held every Wednesday at <a href="https://calendar.app.google/2bomVoZBGntCMexe7" target="_blank">7:30 PM.</a></p>
    </aside>
    <article class="pressing">
        <h2>Important notes</h2>
        <p>Fielday was a success!!! See you at the next meeting. </p>
        <hr>
    </article>
    <aside class="meeting">
        <h2>Club Meetings</h2>
        <p>Held the last Thursday of the month at 7:00 PM</p>
        <p>Fist Christian Church 806 E Briggs Dr in Macon</p>
        <hr>
        <p>The next meeting will be held 25 July 2024.</p>
        <hr>
        <p>The club holds a weekly breakfast at 7AM every Saturday at the applebasket. Many club members meet at the applebasket at 5:30pm on meeting days.</p>
    </aside>
</section>
<div class="solar"> <a href="https://www.hamqsl.com/solar.html" title="Click to add Solar-Terrestrial Data to your website!"><img src="https://www.hamqsl.com/solar101sc.php?bgcolor=black" class="solar"></a></div>
