---
title: "Get Licenced"
layout: 'base.njk'
desc: "MCARC Amateur Radio Licence Testing"
get: "true"
---

<section class="licence">
    <article class="dates">
        <h3 class="getTitle">Testing Dates</h3>
        2024 dates:<br>
        March 10, 
        June 9, 
        Sept 8,
        Nov 10<br>
        Our examineers are:
        <ul class="exam"> 
        <li>Dale Bagley, K0KY</li>
        <li>Larry Ballew, AB0HP</li>
        <li>Ron Harrison, NT0C</li>
        <li>Larry Willingham, K0ARS</li>
        <li>Dan Roberts, WB0DAN</li>
        <li>Kerry Haley, AA0V</li>
        </ul>
        The MCARC Volunteer exam testing location is:<br>
        <address>
        First Christian Church in Macon<br>
        806 E Briggs Dr.<br>
        Macon M0, 63552<br>
        </address>
        <p>Please contact <a href="mailto:Dbagley@cvalley.net">Dale</a> to get on the list.</p>
    </article>
    <article class="get">
    <h3 class="getTitle">Get your amateur radio licence</h3>
    <p>Get licensed and join this interesting hobby. Communications between hunting buddies or in emergency situations. Talk to people across town or the world. Voice, Morse Code, use your computer. Point your antenna up and use a satellite. It's up to you. Your local Macon club can get you going and provide testing.</p>
  <hr>
    <p>To get your FRN check out <a href="https://www.fcc.gov/wireless/support/knowledge-base/universal-licensing-system-uls-resources/getting-fcc-registration" target="_blank">FCC ULS</a> to set up an account.</p>
  </article>
    <article class="contact">
        <h3 class="getTitle">Contact us</h3>
        Please email us at <a href="mailto:n0prmacon@gmail.com">webmaster</a> with questions, suggestions, or to report broken links.
        <br>
        <form class="form" name="contact" method="POST" data-netlify="true">
            <p>
              <label for="name">Your Name:</label> <input type="text" name="name" id="name"/>
              </p>
              <p>
              <label for="email">Your Email:</label> <input type="email" name="email" id="email"/>
              </p>
              <p>
              <label for="message">Message:</label> <br/><textarea name="message" id="message"></textarea>
              </p>
              <p>
              <button id="submit" type="submit">Send</button>
            </p>
          </form>
          <br>
        or via snail mail
        <address>
        Macon County Amateur Radio Club<br>
        Macon Area Repater Council<br>
        PO Box 13<br>
        Macon, MO 63552<br>
        </address>
    </article>
</section>


    