---
title: "Club Newsletters"
layout: "base.njk"
desc: "Macon County ARC Newsletters"
meetings: "true"
---

<div>
    <h1>Newsletters</h1>
    <ul class="eventList">

    {%- for post in collections.newsletters -%}
        <li>
            <article class="eventItem">
               <a href="{{post.url}}"> <h3>
                    {{post.data.title}}
                </h3></a>
                {{post.data.description}}
            </article>
        </li>

    {%- endfor -%}


    </ul>

</div>